<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MySpareTimeApplication - @Page.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        @RenderSection("Scripts", required: false)
    </head>
    <body>
        <div id="page">
            <header>
                  <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                              <b> 
                                  <a class="Welcome">  Welcome! Happy to see you here..      </a>  <a class="email" href="~/Account/Manage" title="Manage"> <a class="Welcome">@WebSecurity.CurrentUserName !!</a></a></b>
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a> 
                                  
                                </form>
                            </text>
                        } else {
                            <ul>
                                    <li class="player-li"><b><a href="~/Account/Register">REGISTER</a></b></li>
                                <li class="player-li"><b><a href="~/Account/Login">LOGIN</a></b></li>
                            </ul>
                     }
                    </section>
                
                <p class="site-title"><a href="~/"> MySpareTimeApplication</a></p>
                <nav>
                    <ul>
                        <li><b><a href="~/">Home</a></b></li>
                        <li><b><a href=" ~/SearchforEvents"> SearchforEvents</a></b></li>
                        <li><b><a href="~/AboutUs"> AboutUs</a></b> </li>
                        <li><b><a href="~/LanguageTranslator"> LanguageTranslator</a></b> </li>
                         <li><b><a href="~/News"> News</a></b> </li>
                         <li><b><a href="~/TimeForShopping"> TimeForShopping</a></b> </li>
                         <li><b><a href=" ~/ContactUs">ContactUs</a></b></li>
                        <li><b><a href=" ~/FeedBack">FeedBack</a></b></li>      
                    </ul>
                </nav>
            </header>
            <div id="body">
                @RenderBody()
            </div>
                    <footer>
                &copy; 08.Dec.2014 - MySpareTimeApplication
            </footer>
        </div>
    </body>
</html>